{% extends 'base.html.njk' %}

{% block title %}
  Most Liked Fossils
{% endblock %}

{% block content %}
  {% if name %}
        <h1>Hello, {{name}}</h1>
      {% endif %}


      {% if MOST_LIKED_FOSSILS %}
        {% for key, value in MOST_LIKED_FOSSILS %}
          <div class="fossil-div">
            <h3>
              {% if name %} 
                {{name}}, this is a 
              {% endif %}
              {{ value.name }}
            </h3>
            <h2>Liked {{ value.num_likes }} times.</h2>
            <img src="{{ value.img }}" />
          </div>
        {% endfor %}
      {% endif %}
{% endblock %}