{% extends 'base.html.njk' %}

{% block title %}
  Most Liked Fossils
{% endblock %}

{% block content %}
  {% if name %}
        <h1>Hello, {{name}}</h1>
      {% endif %}

      {% if MOST_LIKED_FOSSILS %}
        <form action="/like-fossil" method="POST">
          <p>Which one do you like the most?</p>
          <select name="fossilChoice" id="fossilChoice">
            {% for key, value in MOST_LIKED_FOSSILS %}
              <option>{{key}}</option>
            {% endfor %}
          </select>
          <input type="submit" />
        </form>
      {% endif %}

      {% if MOST_LIKED_FOSSILS %}
        {% for key, dinosaur in MOST_LIKED_FOSSILS %}
          <div class="fossil-div">
            <h3 class="descriptive">
              {% if name %} 
                {{name}}, this is a 
              {% endif %}
              {{ dinosaur.name }}
            </h3>
            <h2 class="descriptive">Liked {{ dinosaur.num_likes }} times.</h2>
            <img src="{{ dinosaur.img }}" alt="{{dinosaur.name}}" />
          </div>
        {% endfor %}
      {% endif %}
{% endblock %}